footer {
    position:absolute;
    width: 100%;
    height: 50px;
    bottom: 0;
    background: rgba(251, 99, 115, 1);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}